<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform"
        [ngClass]="{'d-none': recoverform}">
        <a href="javascript:void(0)" class="text-center db">Logo
          <!-- <img src="assets/images/logo-icon.png"
            alt="Home" /><br /><img src="assets/images/logo-text.png" alt="Home" /> --></a>
        <div class="form-group m-t-40" [ngClass]="{ 'has-danger': submitted && f.password.errors }">
          <div class="col-xs-12">
            <input formControlName="username" [ngClass]="{ 'form-control-danger': submitted && f.username.errors }"
              class="form-control" type="text" placeholder="Usuario">
            <small *ngIf="submitted && f.username.errors" class="form-control-feedback"> Usuario requerido</small>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': submitted && f.password.errors }">
          <div class="col-xs-12">
            <input formControlName="password" [ngClass]="{ 'form-control-danger': submitted && f.password.errors }"
              class="form-control" type="password" placeholder="Contraseña">
            <small *ngIf="submitted && f.password.errors" class="form-control-feedback"> Contraseña requerida</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Recuérdame</label>
              <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark float-right">
                <i class="fa fa-lock m-r-5"></i>
                ¿Olvidó su contraseña?
              </a>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button [disabled]="loading" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">
              Iniciar sesión
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p class="text-primary"><a href="#"><b>Iniciar sesión con QR</b></a></p>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" [ngClass]="{'d-block': recoverform}">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar contraseña</h3>
            <p class="text-muted">Ingrese su correo electrónico y las instrucciones serán enviadas a usted</p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Correo">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
              [routerLink]="['/login']">Reiniciar</a>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p class="text-primary"><a (click)="showRecoverForm()" href="javascript:void(0)"><b>Regresar</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <qrcode [qrdata]="'Your QR code data string'" [size]="256" [level]="'M'"></qrcode>
      </div>
      <div class="col-sm-6">
        <h2>Usa la app de control de acceso para escanear e iniciar sesión.</h2>
        <p>¿Tines dudas? Visita el centro de ayuda</p>
        <ngb-alert [dismissible]="false">
          <i class="fa fa-clock-o"></i> Esperando que escanes
        </ngb-alert>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">Img 1</div>
      <div class="col-sm-4">Img 2</div>
      <div class="col-sm-4">Img 3</div>
    </div>
  </div>
</ng-template>